.sheprapuavolcompo-container{
    width: 100%;
    max-width: 1140px;
     margin: 3rem auto;
    background-color: rgba(252, 246, 248, 255);
    padding: 1rem;
    display: flex;
    gap: 1rem;

}
.sheprapuavolcompo-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.sheprapuavolcompo-img img{
    width: 100%;
    height: 100%;
}

.sheprapuavolcompo-content{
    padding-right: 15px;
    width:50%;
    text-align: right;
}
.sheprapuavolcompo-content p{
    color: var(--dark_black_200);
    font-size: 16px;
     line-height: 1.7;
     margin-top: 2rem;
}
.sheprapuavolcompo-content h2{
    margin-top:2rem;
    font-size: 25px;
    font-weight: 400;
    color: black;
}
.sheprapuavolcompo-content h2 strong{
    font-weight: 500;
    color: var(--red_100);
}

.sheprapuavolcompo-content form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: right;
    margin-top: 2rem;
}
.sheprapuavolcompo-content form button{
    padding-right: calc( 10px/2 );
    padding-left: calc( 10px/2 );
    margin-bottom: 10px;
    background-color: #f5b0b0;
    color: white;
    min-height: 40px;
    font-weight: 700;
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 3px;
    border: none;
}
.sheprapuavolcompo-content form button:hover{
    transition: background-color 0.3s ease;
    background-color: black;
}

.sheprapuavolcompo-content form input, select, textarea{
    color: var(--dark_black_200);
     text-align: right;
    border: 1px solid #818a91;
    font-size: 15px;
    min-height: 40px;
    padding: 5px 14px;
    background-color: transparent;
    outline: none;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    resize: none;
}
input:focus, input[type="text"]:focus{
    border-color: #73dedb;
}


@media only screen and (max-width: 768px) {
    .sheprapuavolcompo-container {
        flex-direction: column-reverse;
    }
    .sheprapuavolcompo-img {
         width: 100%;
    }
    .sheprapuavolcompo-content {
         width: 100%;
         padding-right: 0;
     }
}