.ourvolunteers-container {
    background-image: url("../../public/assets/hero.jpg");
    height: 80vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-container {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.73);
    width: 100%;
    opacity: 0.3;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.content-hero {
    padding: 0 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 50px;
    margin-top: 8rem;
    z-index: 10;
}

.content-hero h3 {
    font-size: 60px;
    font-weight: 500;
    color: white;
}

.elementor-shape-bottom {
    bottom: -1px;
}

.elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.elementor-shape-bottom svg {
    height: 50px;
}

.elementor-shape svg {
    display: block;
    width: -webkit-calc(100% + 1.3px);
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.elementor-shape .elementor-shape-fill {
    fill: #fff;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.ourvolunteers-content-container {
    width: 100%;
    max-width: 1140px;
    margin: 3rem auto;
    padding: 0 6px;
}

.ourvolunteers-content-container h2 {
    color: black;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}




.sliders-container {
    margin: 2rem 0;
     width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    
 }

.sliders-container h2 {
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    color: var(--dark_black_200);
 }

.slider-content{ 
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    width: 100%;
    overflow-x: scroll;
  white-space: nowrap;
    scrollbar-width: none; 
    -ms-overflow-style: none;  
  }
  
  .slider-content::-webkit-scrollbar {
    display: none; 
  }
 
  
  .slider-wrapper {
    margin-top: 2rem;
    display: inline-flex;
    gap: 5rem;
  }
  
  .slider-item {
    flex: 0 0 auto;
    margin-right: 10px;  
    padding: 10px;  
   }
  







.donation-link-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.link-dontaion-page {
    font-size: 1.1rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #f5b0b0;
    padding: 15px 30px;
    border-radius: 4px;
    margin-top: 2rem;
    text-align: center;
}

.link-dontaion-page:hover {
    background-color: #73dedb;
    transition: background-color 0.3s ease;
}


.volunteers-boxes {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.volunteers-box {
    display: flex;
}

.box-content {
    background-color: transparent;
    background-image: linear-gradient(180deg, rgba(245, 176, 176, 0.1) 0%, #ffffff 100%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    text-align: right;
    padding: 1rem;
}

.box-content h5 {
    font-size: 16px;
    font-weight: 100;
    color: var(--dark_black_200);
}

.box-content h3 {
    margin: 15px 0 0px 0;
    padding: .7rem 1rem;
    background-color: #ffffff;
    color: #73dedb;
    font-size: 3.1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.box-content .paraghra {
    margin: 2rem  0 0 0;
    background-color: #ffffff;
    color: #73dedb;
    font-size: 3.1rem;
    font-weight: 400;
    letter-spacing: 1px;
    z-index: 1;
    position: relative;
}

.lines {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.lines .line {
    border-top-style: solid;
    border-top-width: 1px;
    width: 6%;
}

.box-content h2 {
    text-align: right;
    margin-bottom: 2rem;
    color: #3a3a3a;
    font-size: 16px;
    line-height: 29px;
}

.box-content p {
    line-height: 29px;
    text-align: right;
    color: #3a3a3a;
    font-size: 16px;
}

.box-content button {
    align-self: flex-start;
    background-color: #73dedb;
    padding: 6px 20px;
    font-size: 16px;
    border: none;
    color: white;
    border-radius: 3px;
    font-weight: 700;
}

.box-content button:hover {
    background-color: black;
    transition: background-color 0.3s ease;
}

.marginB {
    margin-bottom: 2rem;
    text-align: right;
}


@media only screen and (max-width: 900px) {
    .volunteers-box {
        flex-direction: column;
    }

    .image-child {
        width: 100%;
    }
  

    
}

@media only screen and (max-width: 600px) {
    .box-content h3 {
        margin: 1rem 0px;
        font-size: 1.5rem;
    }

    .box-content .paraghra {
        margin: 2rem 0;
        font-size: 1.5rem;
    }

    .image-child {
        height: 100%;
        min-height: 250px;
    }
}